main {
    margin: 60px;   
}

h1 {
    text-align: center;
    margin-bottom: 90px;
}

.container {
    width: 820px;
    font-size: 0;
    margin: auto;   
}

.container div{
    display: inline-block;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    font-size: 1rem;
    position: relative;
    
}

span {
    position: absolute;
}

section:nth-child(odd)>div:nth-child(even) {
    background-color: black;
}

section:nth-child(even)>div:nth-child(odd) {
    background-color: black;
}



section:first-of-type div>span:first-of-type {
    top: -30px;
    left: 45px;
}

section:first-of-type div:nth-child(1)>span:last-of-type {
    right: 110px;
    top: 35px;
}

section:not(:first-of-type):not(:last-of-type) div:nth-child(1)>span:first-of-type {
    right: 110px;
    top: 35px;
}

section:last-of-type div>span:first-of-type {
    top: 110px;
    left: 45px;
}

section:last-of-type div:nth-child(1)>span:last-of-type {
    right: 110px;
    top: 35px;
}

section:first-of-type div:nth-child(8)>span:last-of-type {
    right: -20px;
    top: 35px;
}

section:not(:first-of-type):not(:last-of-type) div:nth-child(8)>span:first-of-type {
    right: -20px;
    top: 35px;
}

section:last-of-type div:nth-child(8)>span:last-of-type {
    right: -20px;
    top: 35px;
}

section div:hover {
    background-color: red;
}